<section style="padding-top: 50px;">
    <div class="container-fluid h-custom">
        <table style="width: 100%">
            <tr>
                <td style="width: 80%;">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            <h2>{{pageTitle}}</h2>
            
                            <div style="margin-top:50px" class="alert alert-danger" role="alert" *ngIf="alert">
                                {{alert}}
                            </div>
                            <div style="margin-top:50px" class="alert alert-success" role="alert" *ngIf="message">
                                {{message}}
                            </div>
            
                            <div style="float: right;">
                                <p class="fw-bold mt-2 pt-1 mb-0"><a class="link-success" [routerLink]="['/login']">Back to
                                        LogIn</a></p>
                            </div>
            
                            <form style="padding-top:50px" #formVar="ngForm" (ngSubmit)="onSubmit()">
            
                                <!-- Password input -->
                                <div class="form-outline mb-3">
                                    <input type="text" id="form3Example1" class="form-control form-control-lg"
                                        placeholder="Enter Email Address" name="email" [(ngModel)]="emailAddress" required />
                                </div>
            
                                <div class="text-center text-lg-start mt-4 pt-2">
                                    <button type="submit" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!formVar.valid">Reset
                                        Password</button>
            
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngIf="isLoading">
                        <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                        </mat-progress-spinner>
                    </div>
                </td>
            </tr>
        </table>
        
    </div>
</section>