/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loadingBox {
    background-color: rgb(216, 216, 216);
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    opacity: 0.5;
  }
  
  .childLoadingBox {
    /* Center vertically and horizontally */
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
  }