<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <form style="padding-top:50px" [formGroup]="formGroup">

        <div class=" form-outline mb-4" style="width:300px">
            <label class="form-label">Model</label>
            <input type="text" class="form-control form-control-lg" formControlName="model" placeholder="Model" 
            [class]="{'is-invalid': (formGroup.get('model').touched && !formGroup.get('model').valid) }" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label">Type</label>
            <mat-form-field appearance="outline">
                <mat-label>Select Car Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let val of carTypes" value='{{val}}'>{{val}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-outline mb-9">
            <label class="form-label">Color</label>
            <mat-form-field appearance="outline">
                <mat-label>Color</mat-label>
                <input matInput [ngxMatColorPicker]="picker" formControlName="color">
                <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                <ngx-mat-color-picker #picker [color]="color"></ngx-mat-color-picker>
            </mat-form-field>
        </div>
    </form>
</div>