<section style="padding-top: 50px;">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h2>{{pageTitle}}</h2>

                <div style="margin-top:50px" class="alert alert-danger" role="alert" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>

                <div style="float: right;">
                    <p class="fw-bold mt-2 pt-1 mb-0"><a class="link-success" [routerLink]="['/login']">Back
                            to
                            LogIn</a></p>
                </div>

                <form style="padding-top:50px" [formGroup]="registerFormGroup" (ngSubmit)="onRegister()">

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1" class="form-control form-control-lg"
                            placeholder="Enter full name" formControlName="fullName" [ngClass]="{'is-invalid': (registerFormGroup.get('fullName').touched && 
                                                                    !registerFormGroup.get('fullName').valid) }" />
                        <span class="invalid-feedback">
                            <span *ngIf="registerFormGroup.get('fullName').errors?.['required']">
                                <label>Please type the Full Name</label>
                            </span>
                        </span>
                    </div>


                    <div formGroupName="emailGroup">

                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example2" class="form-control form-control-lg"
                                placeholder="Enter a valid email address" formControlName="emailAddress"
                                [ngClass]="{'is-invalid': emailMessage }" />
                            <span class="invalid-feedback">
                                {{emailMessage}}
                            </span>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example3" class="form-control form-control-lg"
                                placeholder="Confirm email address" formControlName="confirmEmailAddress"
                                [ngClass]="{'is-invalid': (registerFormGroup.get('emailGroup').errors || (registerFormGroup.get('emailGroup.confirmEmailAddress').touched && 
                                                                    !registerFormGroup.get('emailGroup.confirmEmailAddress').valid)) }" />
                            <span class="invalid-feedback">
                                <span
                                    *ngIf="registerFormGroup.get('emailGroup.confirmEmailAddress').errors?.['required']">
                                    <label>Please confirm the Email Address</label>
                                </span>
                            </span>
                            <span class="invalid-feedback">
                                <span
                                    *ngIf="registerFormGroup.get('emailGroup.confirmEmailAddress').errors?.['emailFormat']">
                                    <label>Invalid Email Address</label>
                                </span>
                            </span>
                            <span class="invalid-feedback">
                                <span *ngIf="registerFormGroup.get('emailGroup').errors?.['match']">
                                    <label>Emails don't match!</label>
                                </span>
                            </span>
                        </div>

                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example4" class="form-control form-control-lg"
                            placeholder="Enter user name" formControlName="userName"
                            [ngClass]="{'is-invalid': (registerFormGroup.get('userName').touched && !registerFormGroup.get('userName').valid) }" />
                        <span class="invalid-feedback">
                            <span *ngIf="registerFormGroup.get('userName').errors?.['required']">
                                <label>Please type the User Name</label>
                            </span>
                            <span *ngIf="registerFormGroup.get('userName').errors?.['minlength']">
                                <label>Min length for UserName is 5</label>
                            </span>
                        </span>
                    </div>


                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example5" class="form-control form-control-lg"
                            placeholder="Enter password" formControlName="password"
                            [ngClass]="{'is-invalid': (registerFormGroup.get('password').touched && !registerFormGroup.get('password').valid) }" />
                        <span class="invalid-feedback">
                            <span *ngIf="registerFormGroup.get('password').errors?.['required']">
                                <label>Please type the Password!</label>
                            </span>
                            <span *ngIf="registerFormGroup.get('password').errors?.['minlength']">
                                <label>Min length for Password is 5!</label>
                            </span>
                        </span>
                    </div>


                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            [disabled]="!registerFormGroup.valid">Register</button>

                        <div style="margin-left:100px;" class="spinner-border text-primary" role="status"
                            *ngIf="isLoading">
                            <span class="sr-only"></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>